*{
    box-sizing: border-box;
}

.container{
    height: 100vh;
    display: flex;
}
aside{
    background: white;
    padding: 30px;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: #F3F6FD;
}
.menu{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.logo{
    margin-bottom: 40px;
}
.add{
    height: 45px;
    width: 45px;
    background: none;
    cursor: pointer;
    border-radius: 14px;
    border: 1px solid #CAD5FF;
}
nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.menu__item{
    background: #FFFFFF;
    box-shadow: 0px 8px 14px rgba(62, 107, 224, 0.12);
    border-radius: 14px;
    border: none;
    height: 45px;
    width: 45px;
    cursor: pointer;
}
.menu__item:hover{
    
    background: #6A6AFB;
}
.menu__item:hover img{
    filter: brightness(0) invert(1);
}
.menu__item-active{
    background: #5051F9;
}
.menu__item-active img{
    filter: brightness(0) invert(1);
}