.menu__item{
    background: #FFFFFF;
    box-shadow: 0px 8px 14px rgba(62, 107, 224, 0.12);
    border-radius: 14px;
    border: none;
    height: 45px;
    width: 45px;
    cursor: pointer;
}
.menu__item:hover{
    background: #6A6AFB
}
.menu__item:hover img {
    filter: brightness(0) invert(1);
}

.menu__item-active{
    background: #5051F9
}

.menu__item-active img {
    filter: brightness(0) invert(1);
}